.flash-bg-black {
  background-color: black !important; }

.flash-bg-red {
  background-color: rgba(138, 0, 5, 0.64) !important; }

.flash-border {
  border-radius: 0; }

.flash-border-color {
  border-color: rgba(138, 0, 5, 0.64); }

.flash-vh-100 {
  height: 100vh; }

.flash-vh-200 {
  height: 200vh; }

.flash-vh-200 {
  height: 200vh; }

.flash-vh-300 {
  height: 300vh; }

.flash-transparent-black {
  background: rgba(0, 0, 0, 0.7) !important;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.05) 100%) !important;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.05) 100%) !important;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.05) 100%) !important;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.05) 100%) !important; }

.flash-plot-text {
  background-color: rgba(0, 0, 0, 0.7); }

.flash-box-shadow {
  box-shadow: 5px 5px 5px #000; }

.flash-text-shadow {
  text-shadow: 10px 10px 5px #000; }

.flash-fs-08 {
  font-size: 0.8em; }

.flash-fs-09 {
  font-size: .9em; }

.flash-fs-1 {
  font-size: 1em; }

.flash-fs-11 {
  font-size: 1.1em; }

.flash-fs-12 {
  font-size: 1.2em; }

.flash-fs-13 {
  font-size: 1.3em; }

.flash-fw-100 {
  font-weight: 100; }

.flash-fw-400 {
  font-weight: 400; }

.flash-fw-700 {
  font-weight: 700; }

.flash-bg-gradient {
  background: rgba(138, 0, 5, 0.64) !important;
  background: -webkit-linear-gradient(left, black 0%, rgba(138, 0, 5, 0.64) 25%, black 50%) !important;
  background: -o-linear-gradient(left, black 0%, rgba(138, 0, 5, 0.64) 25%, black 50%) !important;
  background: -moz-linear-gradient(left, black 0%, rgba(138, 0, 5, 0.64) 25%, black 50%) !important;
  background: linear-gradient(left, black 0%, rgba(138, 0, 5, 0.64) 25%, black 50%) !important; }

body {
  background-color: black;
  font-family: 'Exo 2', sans-serif; }

#hero {
  background: url("../img/hero-background-flash.jpg") center/cover;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  margin-top: -76px; }

#plot {
  background: url("../img/plot-background.png") center/cover;
  border-bottom: 1px solid #fff;
  box-sizing: border-box; }

#plot img {
  max-height: 450px; }

.plot-window {
  max-height: 450px;
  overflow: scroll; }

#cast {
  border-bottom: 1px solid #fff;
  box-sizing: border-box; }

#cast h3 {
  font-size: 1.3em; }

#cast a {
  font-size: 0.9em; }

#extra {
  box-sizing: border-box; }

#reviews {
  margin-bottom: -58px; }

#footer {
  border-top: 1px solid #fff; }
